
input {
  kafka {
    topics => "Topic1"
    bootstrap_servers => "{% for host in groups['kafka'] %}{{host}}:9092{%if not loop.last %},{% endif %}{% endfor %}"
    codec => "json"
    auto_offset_reset => "latest"
    
  }
}
filter {
  mutate{
    remove_field => [ "host" ]
  }
}
output{
  #stdout { codec => rubydebug }
  file{
    path => "/var/log/logstash/test_bla.txt"
  }
  elasticsearch {  
    hosts => {% for host in groups['elasticsearch'] %}{{host}}:9200{%if not loop.last %},{% endif %}{% endfor %}"
    manage_template => false
    index => "%{[metadata][beat]}-%{+YYYY.MM.dd}"
  }
}