# Kafka configuration is using the default values in most parameters (based on
# https://www.elastic.co/guide/en/logstash/5.5/plugins-inputs-kafka.html).

# Elasticseach configuration is using the default values in most parameters (based on
# https://www.elastic.co/guide/en/logstash/5.5/plugins-outputs-elasticsearch.html).
input {
    kafka {
        bootstrap_servers => "{{ bootstrap_servers }}"
        decorate_events => false
        auto_commit_interval_ms => 60000
        auto_offset_reset => "earliest"
        group_id => "metricbeat"
        topics => ["metricbeat"]
        codec => "json"
        consumer_threads => 3
    }
 
output {
  elasticsearch {
    index => "%{[@metadata][index]}"
    document_type => "%{[@metadata][type]}"
    document_id => "%{[@metadata][id]}"
    hosts => [ {% for host in groups['elasticsearch'] %}"http://{{ host }}:9200"{% if not loop.last %},{% endif %} {% endfor %} ]
  }

  #stdout {
  #    codec => rubydebug { metadata => true }
  #}
}