
input {
  kafka {
    topics => "Topic1"
    bootstrap_servers => "{{ groups['kafka']:9092 | join("\",\"")}}"
    codec => "json"
    auto_offset_reset => "latest"
    
  }
}
filter {
  mutate{
    remove_field => [ "host" ]
  }
}
output{
  #stdout { codec => rubydebug }
  file{
    path => "/var/log/logstash/test_bla.txt"
  }
  elasticsearch {  
    hosts => "{{ groups['elasticsearch']:9200 | join("\",\"")}}"
    manage_template => false
    index => "%{[metadata][beat]}-%{+YYYY.MM.dd}"
  }
}